<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avinash.syncopyproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA " />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".NotificationChannelCreator"
        android:icon="@drawable/syncopy_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/syncopy_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WebViewActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".GithubRepoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AboutCreatorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AboutAppActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ConnectionDocsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddCommandActivity"
            android:screenOrientation="portrait"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".ScreenshotActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SearchIDActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyQRActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ScanActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SyncopyActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:label="Syncopé">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WelcomeScreen"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SignupActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EditProfileActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service android:name=".Services.AutoService" />

        <receiver android:name=".NotificatoinReciever" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>